# basic  -------------------
ipykernel
python-math
numpy
pyyaml
scipy
pandas
matplotlib
tqdm
regex

# ni -----------------------
nibabel
nilearn
dipy
mne

# datasets -----------------
openneuro-py
datalad